* {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #ffd045;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color:#fff;
}

.logo,.logo a{
	font-size: 32px;
	padding: 20px 10px 10px 10px;
	color: #fff;
}

header {
}

.headwrap {
	background: #1f1f1d;
	display: flex;
	border-bottom: 1px solid #404040;
	box-shadow: 0 0 0 2px #0f0f0f;
}

.menu {
	text-align: right;
	flex: 1;
	padding:20px;
	word-spacing: 10px;

}

body {
	background: #1a1916;
    margin: 0;
}

.wrapper {
	display: flex;
	padding: 25px;
	background: #262626;
	min-height: 250px;
	justify-content: center;
	gap: 25px;
	flex-flow: row wrap;
}

.image1, .image2, .image3, .image4, .image5 {
	border: 0px solid green;
	padding: 10px;
	width: 128px;
	height: 150px;
	text-align: center;
	font-size: 12px;
	
}

.border {
	border: 2px solid #ffd045;
	border-radius: 9px;
	width: 128px;
	height: 128px;
	margin: auto;
}

.underimage{
	margin: 5px 0 0 0;
	color: #adadad;
}

.info {
	margin:auto;
	text-align:center;
	background: #262626;
	padding: 30px 30px 5px 30px;
	font-size: 24px;
	font-weight: bold;
}

.secondline {
	display: flex;
	padding: 125px;
	background: #333333;
	justify-content: center;
	gap: 0px;
	flex-flow: row wrap;
	flex-direction: column;
}

.quote{
	margin: auto;
	font-size: 24px;
	font-weight: 0;
	max-width: 800px;
	text-align: left;
}

.author{
	margin: auto;
	font-size: 16px;
	color: #636363;
	font-weight: bold;
	text-align: right;
	padding-left:-100px;
}

