* {
	font-family: 'Roboto', sans-serif;
}
a {
	color: #ffd045;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color:#fff;
}
.wrapper {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-flow: row wrap;
}
::selection {
	color:#fff;
	background: #f55951; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color:#fff;
	background: #f55951; /* Gecko Browsers */
}
body {
	background:#161b1d!important;
}
.events_upnext{
color:#fff;
padding-left:10px;
padding-top:10px;
text-transform:uppercase;
font-weight:bold;
}
.events_upcoming{
color:#fff;
padding-left:10px;
text-transform:uppercase;
font-weight:bold;
}
.event_head {
    position: relative;
    height: auto;
    width: 100%;
	min-width:238px;
}
.events {
    display: flex;
    flex-wrap: wrap;
}
.event_headliner {
	    flex-grow: 1!important;
    flex: 0 50%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	padding:10px;
}
.event_logo img {
    display: block;
    line-height: 0;
    height: auto;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
	border:0px solid #00d93f;
	border-bottom: none;
}
.event_upc_title {
color:#fff;
font-size: 13px;
padding:10px;
font-weight:bold;
text-align:center;
background-color: #0c0c0d;

}
.event_xbox {
color:#fff;
font-size: 13px;
padding:10px;
font-weight:bold;
text-align:center;
background-color: #107C10;

}

.event_playstation {
color:#fff;
font-size: 13px;
padding:10px;
font-weight:bold;
text-align:center;
background-color: #00439C;
}

.event_title {
color:#fff;
font-size: 24px;
font-weight:bold;
text-align:center;
padding:10px;
background-color: #00521c;
}
.col-sm {
	text-align:center;
	background:#007b2a;
	padding:12px;
}

.event_date {
color:#fff;
font-size:12px;
font-weight:bold;
display:inline-block;
}
.countdown {
color:#fff;
font-weight:bold;
font-size:25px;	
display:inline-block;
margin-bottom:5px;
}

thead {
    border-radius: 3px;
}	
.headwrap {
	background: #1f1f1d;
	display: flex;
	border-bottom: 1px solid #404040;

}